@page
@model RazorPages.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}


<div class="row">
    <div class="col text-center">
        <img src="~/images/NotFound.png" alt="Page nor found"/> 
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>The resource you are looking for can't be found</h1>
        <a asp-page="/Employees/Employees" class="btn btn-primary">Back to Employees Page</a>
    </div>

</div>